body{
    background-color: rgb(211, 250, 235);
}

#ESTD{
    background-color: rgb(250, 186, 186);
}

#TS{
    background-color: rgb(107, 112, 180);
}

#TT{
    background-color: rgb(192, 252, 188);
}

#CI{
    background-color: rgb(211, 250, 235);
}