<br>
 <div class="row">

      <div class="col">
           <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-departments" style="background-color: #61c4c4;"> 
                      <div class="card-header">
                           <h5 class="card-title">Total Department</h5>
                      </div>
                      <div class="card-body">
                           <h3 class="card-header">{{total_dept}}</h3>
                      </div> 
                </div>
           </div>
      </div>



      <div class="col">
           <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-students" style="background-color: #5381c5;"> 
                      <div class="card-header">
                           <h5 class="card-title">Total Students</h5>
                      </div>
                      <div class="card-body">
                           <h3 class="card-header">{{total_std}}</h3>
                      </div> 
                </div>
           </div>
      </div>



      <div class="col">
           <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-ex-students" style="background-color: rgb(197, 143, 152);"> 
                      <div class="card-header">
                           <h5 class="card-title">Total Teachers</h5>
                      </div>
                      <div class="card-body">
                           <h3 class="card-header">{{total_teacher}}</h3>
                      </div> 
                </div>
           </div>
      </div>
 </div>