
{% extends 'app1/main.html' %}
{% load static%}
{% load my_filters %}
{%block content%}
<style>
      .profile-pic{
        max-width:300px;
        max-height:300px;
        margin: 0 auto;
        border-radius:10%;
      }
     .form-control {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 8px;
        width: 100%;
        font-size: 1.1rem;
        line-height: 2;
        color: #495057;
        background-color: rgba(171, 179, 216, 0.1);
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .form-control:focus {
        outline: none;
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .form-control:disabled {
        background-color: #e9ecef;
        opacity: 1;
        }

        .form-control1 {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 6px;
        width: 40%;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #daf3f1;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
</style>

<br>
<div class="row justify-content-center" style="background-color:rgba(171, 179, 216, 0.21);">



        <div class="col-md-8">
            <div class="card card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                       <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.name.id_for_label }}">Name:</label>
                            {{ form.name|add_class:"form-control" }}
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.hsc_roll.id_for_label }}">HSC Roll:</label>
                            {{ form.hsc_roll|add_class:"form-control" }}
                            {{ form.hsc_roll.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.hsc_reg.id_for_label }}">HSC Reg:</label>
                            {{ form.hsc_reg|add_class:"form-control" }}
                            {{ form.hsc_reg.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.reg_no.id_for_label }}">Reg No:</label>
                            {{ form.reg_no|add_class:"form-control" }}
                            {{ form.reg_no.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.roll.id_for_label }}">Roll:</label>
                            {{ form.roll|add_class:"form-control" }}
                            {{ form.roll.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.dept.id_for_label }}">Department:</label>
                            {{ form.dept|add_class:"form-control1" }}
                            {{ form.dept.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.session.id_for_label }}">Session:</label>
                            {{ form.session|add_class:"form-control" }}
                            {{ form.session.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.email.id_for_label }}">Email:</label>
                            {{ form.email|add_class:"form-control" }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.phone.id_for_label }}">Phone:</label>
                            {{ form.phone|add_class:"form-control" }}
                            {{ form.phone.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.dob.id_for_label }}">Date of Birth:</label>
                            {{ form.dob|add_class:"form-control" }}
                            {{ form.dob.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.address.id_for_label }}">Address:</label>
                            {{ form.address|add_class:"form-control" }}
                            {{ form.address.errors }}
                        </div>
                
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.fathers_name.id_for_label }}">Fathers Name:</label>
                            {{ form.fathers_name|add_class:"form-control" }}
                            {{ form.fathers_name.errors }}
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.mothers_name.id_for_label }}">Mothers Name:</label>
                            {{ form.mothers_name|add_class:"form-control" }}
                            {{ form.mothers_name.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.guardian_phone.id_for_label }}">Guardian Phone:</label>
                            {{ form.guardian_phone|add_class:"form-control" }}
                            {{ form.guardian_phone.errors }}
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.description.id_for_label }}">Description or Report:</label>
                            {{ form.description|add_class:"form-control" }}
                            {{ form.description.errors }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="{{ form.status.id_for_label }}">Status:</label>
                            {{ form.status|add_class:"form-control1" }}
                            {{ form.status.errors }}
                        </div>
                        <div class="font-weight-bold" style="background-color:lightgray;">
                            {{form.profile_pic}}
                        </div>
                        <br><hr> 
                    <input type="submit" name="Submit">          
                </form>
            </div>
        </div>


    



</div>




{%endblock%}